@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --color-dbb-light: #ccfc65;
  --color-dbb-mid: #9eeb23;
  --color-dbb-dark: #517a05;
  --color-dbb-black: #333319;
  --color-dbb-bg: #e0e0d6;
}

:root {
  color-scheme: light;
}
body {
  margin: 0;
  font-family:
    "Arimo",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
  line-height: 1.5;
}
a {
  color: inherit;
}
.wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;
}
header {
  border-bottom: 1px solid #eee;
}
footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding: 20px 0 0;
  color: #666;
}
.btn {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 12px;
  background: #111;
  color: #fff;
  text-decoration: none;
}
.muted {
  color: #666;
}
h1 {
  letter-spacing: -0.02em;
  color: var(--color-dbb-dark);
  font-weight: 700;
  font-size: xx-large;
}
h2 {
  font-size: large;
  font-weight:500;
  color: #666;
  text-transform: uppercase ;
  margin: 1rem 0;
  letter-spacing: .1rem;
}
h4 {
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: .2rem;
}
img:not(.hero-image) {
  max-width: 100%;
  height: auto;
  border-radius: 14px;
}

.hero-image {
  width: 100vw;
  max-width: none;
  margin: 10px calc(50% - 50vw) 20px;
  border-radius: 0;
}
