---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";
const entry = await getEntry("pages", "services");
if (!entry) throw new Error("Missing services page content.");
const { Content } = await entry.render();
---

<BaseLayout pageTitle={entry.data.title} seo={entry.data.seo}>
  <h1>{entry.data.title}</h1>
  <Content />
</BaseLayout>